<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="5">

<head>
    <meta charset="UTF-8">
    <title>Result Page</title>
</head>

<h2>Results Report</h2>

<body>
  <div>Refresh page to check for results</div>
  <p>Observed_counts: {{observed_counts}}</p>
  <p>Expected_counts: {{expected_counts}}</p>
  First Digit Probabilities:
  <pre id="json_first_digit_probabilities">{{first_digit_probabilities}}</pre>

  <p>Chi-squared Test: {{chi_squared_test_statistic}}</p>
  <p>Result: {{result}}</p>

  <img src="{{url_for('send_image', filename=image_name)}}" >

  <div>Redis Job Details (when done they disappear after 500 seconds)</div>
  <pre id="json_redis_job">{{ job }}</pre>

</body>

</html>