<!DOCTYPE html>
<html lang="en">
<title>File Upload Page</title>
<h2>Select a file to upload</h2>

<div>File has to be:</div>
<ul>
	<li>In CSV format (Accepted delimiters: tab, colon (,) semicolon (;) vertical bar (|)</li>
	<li>CSV can have any number of columns, but no more than one numeric</li>
	<li>Accepted extensions are *.txt and *.csv</li>
	<li>File can also be made out of one numeric column without header (tldr: just numbers as rows)</li>
</ul>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<h2>Or browse other users datasets</h2>
<p>
	<a href="/jobs">User's dataset</a>
</p>
</html>